page-login {
    .loginContent{
        color: black;
    }
    #login_text{
        text-align: center;
        font-size: 15px;
    }
    #rounded {
        width: 100%;
        height: 10px;
        border-radius: 5px;
        margin-bottom: 10px;  
    }
    #container {
        width: 350px; 
        margin-left:auto; 
        margin-right: auto; 
        margin-top: 300px;
    }
    #loginBtn{
        width: 160px;
        height: 35px;
        border-radius: 5px;
        text-align: center;
        margin-top: 30px;
    }
    }
    